.iref-logger {
  #iref-log {
    position: fixed;
    bottom: 18px;
    right: 54px;
    background-color: transparent;
    border-top-left-radius: 5px;
    color: #fff;
    padding: 0px 10px;
    z-index: 9010;
    max-height: 20px;
    overflow-y: hidden;
    scroll-behavior: smooth;

    span {
      color: #8f8f8f;
      font-family: monospace;
    }

    > div {
      text-align: right;
      font-size: 12px;
    }
  }
}

.iref-settings-panel-open.iref-logger #iref-log {
  max-height: 200px;
  overflow-y: auto;
  background-color: #000;

  > div {
    text-align: left;
  }
}
