.iref-no-sidebars .iref-toolbar-btn {
  right: 11px;
}

.iref-toolbar-btn {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: iref-settings-panel-icon-gradient 15s ease infinite;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 4px;

  svg {
    transform: translateX(5px);
  }
}

.iref-setting {
  width: 500px;
  display: block;
  border-bottom: 1px dotted #444;
  margin-bottom: 12px;

  input[type="checkbox"] {
    float: right;
    transform: translateY(4px);
  }

  input[type="number"] {
    display: inline-block;
    width: 35px;
    color: white;
    background: var(--ir-colors-gray-900);
    font-size: 16px;
    font-weight: 700;
    margin: 0 6px;
    text-align: center;
    border: 1px solid #444 !important;
    border-radius: 4px;
  }

  select {
    display: inline-block;
    color: white;
    font-size: 16px;
    background: var(--ir-colors-gray-900);
    font-weight: 700;
    margin: 0 6px;
    text-align: center;
    border: 1px solid #444 !important;
    border-radius: 4px;
    padding: 0 6px;

    option {
      background-color: black;
    }
  }
}

@keyframes iref-settings-panel-icon-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
