:root {
  --iref-bar-highlight: #6120ff;
}

.iref-status-bar {
  .css-3klkag,
  .css-5p3npk,
  .css-uam05f {
    height: calc(100vh - 51px);
  }

  #friends-wrapper {
    margin-bottom: 59px;
  }
}

.iref-bar-wrapper {
  position: absolute;
  width: 100%;
  height: 51px;
  background: var(--ir-colors-gray-1000);
  bottom: 1px;
  padding-bottom: 5px;
  z-index: 9001;
}

#iref-bar {
  display: flex;
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 41px;
  border: 1px solid var(--ir-colors-whiteAlpha-100);
  border-radius: 41px;
  background: var(--ir-colors-gray-900);
  color: var(--ir-colors-gray-50);
  box-shadow: rgba(5, 5, 15, 0.16) 0px 12px 24px -2px;
  overflow: hidden;

  .iref-logo {
    width: 70px;
    background-color: var(--iref-bar-highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    img {
      height: 11px;
    }
  }

  .iref-bar-left {
    flex-grow: 1;
    display: flex;
  }

  .iref-queue-items {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .iref-queue-item {
    display: flex;
    padding: 0 6px;
    height: 39px;
    font-size: 12px;
    line-height: 39px;
    background-color: var(--ir-colors-gray-900);
    border-right: 1px solid var(--ir-colors-whiteAlpha-100);
    z-index: 20;
  }

  .iref-queue-text-fixed {
    display: block;
    text-align: center;
    width: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .iref-remove-btn {
    font-size: 36px;
    line-height: 0px;
    margin-left: 8px;
    transform: translate(-1px, -3px);
  }

  .iref-bar-right {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .iref-queue-status {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 8px;

    transform: translate(0, 12px);

    &.found {
      background-color: #005db4;
      cursor: pointer;
    }

    &.registering {
      background-color: #06bd00;
    }

    &.queued {
      background-color: #808080;
    }
  }
}
